.bg-hero{
    background: url('/images/ReportsNew/hero.jpg') no-repeat top right / cover;
}

.bg-hero-mobile {
    position: relative;
    height: 460px;
}

.bg-hero-mobile::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: linear-gradient(0deg, #ededed 0%, rgba(213, 184, 216, 0.00) 124.39%);
}

@media screen and (min-width: 1024px) {
    .bg-hero::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background: linear-gradient(108deg, #e3eded 0%, rgba(213, 184, 216, 0) 71.01%);
    }

    .bg-hero {
        background: url('/images/ReportsNew/hero.jpg') no-repeat top right / cover;
    }
}