p,
li {
  font-size: 18px;
}

.masterclass-header-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0.33) 50%);
}

.masterclass-yellow-cta,
.addeventatc {
  border-radius: 999px !important;
  background: linear-gradient(180deg, #ffbf73 0%, #ffa000 100%) !important;
  font-weight: bold !important;
  color: #252334 !important;
  border: none !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16) !important;
  padding: 0.75rem 1.5rem !important;
}

.masterclass-yellow-cta:hover,
.addeventatc:hover {
  background: #ffa000 !important;
}

.masterclass-transparent-cta {
  border-radius: 999px !important;
  background-color: transparent !important;
  font-weight: bold !important;
  border: 2px solid white !important;
  padding: 0.75rem 1.5rem;
}

.masterclass-transparent-cta:hover {
  background-color: white !important;
  color: #8a50a0 !important;
}

.masterclass-purple-cta {
  border-radius: 999px !important;
  background: linear-gradient(180deg, #9b37f2, #7a12d4) !important;
  font-weight: bold !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16) !important;
  padding: 0.75rem 1.5rem !important;
}

.masterclass-purple-cta:hover {
  background: #7a12d4 !important;
}
