.bg-woman-looking-out-window-mobile {
  position: relative;
  background: url('/images/MHA/bg-woman-looking-out-window.jpg') no-repeat top right / cover;
  width: 100%;
  height: 300px;
}

.bg-woman-hugging-herself-mobile {
  position: relative;
  background: url('/images/MHA/bg-woman-hugging-herself.jpg') no-repeat top left / cover;
  width: 100%;
  height: 300px;
}

.bg-gradient {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(227, 237, 237, 0) 0%,
    #e3eded calc(300px),
    rgba(213, 184, 216, 0.5) 100%
  );
}

@media screen and (min-width: 1024px) {
  .bg-woman-looking-out-window {
    position: relative;
    background: url('/images/MHA/bg-woman-looking-out-window.jpg') no-repeat top right / cover;
  }

  .bg-woman-hugging-herself {
    position: relative;
    background: url('/images/MHA/bg-woman-hugging-herself.jpg') no-repeat top center / cover;
  }

  .bg-woman-looking-out-window::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(103deg, #e3eded 0%, rgba(213, 184, 216, 0) 86.05%);
    z-index: 3;
  }

  .bg-woman-hugging-herself::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(108deg, #e3eded00 0%, rgba(237, 220, 239, 0.2) 31%);
    z-index: 3;
  }
}
