@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes animFadeInLeft {
  from {
    left: '100%';
  }

  to {
    left: 0;
  }
}

.animFadeInLeft {
  animation: animFadeInLeft 1s ease-in;
}
